.container {
    height: auto;
    width: 50vw;
    padding: 1em;
    border-radius: 35px;
    color: var(--clr-white);
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 10px;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.023); /* Aqui você define a cor escura e a opacidade */
    z-index: -1;
    border-radius: 35px;

     /* Garante que o pseudo-elemento esteja acima da imagem */
  }