@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  background-image: url('./Assets/Rain.gif');
  background-position: bottom;
  background-repeat: none;
  background-size: 100%;
}
html::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.805);
  z-index: -1; /* Garante que o pseudo-elemento esteja acima da imagem */
}

.App {
  display: flex;
}
.container {
  border-radius: 32px;
  position: fixed;
  top: 25%;
  left: 25%;
  }

:root{
  /* Cores padrão */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-font: #fff;

  /* Cor de fundo */
  --clr-blue: #01030c;
}
